.header {
    display: flex;
}

.logo {
    background-image: url("../../assets/profile.svg");
    display: block;
    width: 50px;
    height: 50px;

}

.home {
    background-image: {url:''};
    width: 10px;
    height: 10px;

}

.profile {
    background-image: {url:''};
    width: 10px;
    height: 10px;

}

.users {
    background-image: {url:''};
    width: 10px;
    height: 10px;

}